

.tiny-banner{
    display: inline-block;
    display: inline-flex;
    
}

.udemy {
    margin: 15px;
}

.category {
    margin: 6px;
   
}

.searchbar{
    margin: 20px 30px; 
   
    }

    .search-button{
        
        width: 352px;
        height: 46px;
        border-radius: 20px;
       }

       .biz {
        margin: 0 10px;}

       .teach-div {
        margin: 0 10px;
        }

            .cart {
                margin: 15px;}

                .login-button {
                   margin: 15px;
                   width: 80px;
                   height: 40px;
                }

                .login-button a {
                    text-decoration: none;
                    font-weight: bold;
                }

                    .signup {
                        width: 80px;
                        height: 40px;
                        margin: 15px;
                        background-color: black;
                       }

                    .signup a {
                        text-decoration: none;
                        color: white;
                    }

                        
                        
                        
                        

                        .world-img {
                            margin: 15px;}